body{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 90px 20px 0px;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #50A09D;
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 100px;
    margin: 0 auto;
}

.nav-menu{
    display: flex;
    margin-right: 20px;
    list-style: none;
}

.nav-menu-item{
    background-color: #9A7FA4;
    transition: 0.5s;
}

.nav-menu-link{
    font-size: 18px;
    line-height: 90px;
    width: max-content;
}

.nav-menu-link:hover{
    background-color: #3C5C5C;
    transition: 0.5s;
}

.aside {
    position: fixed;
    top: 20%;
    left: 0;
    width: 20%;
    height: 75%;
    background-color: aqua;
}

.section {
    position: fixed;
    top: 20%;
    left: 20%;
    width: 80%;
    height: 75%;
    background-color: bisque;
    overflow-y: scroll;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: yellowgreen;
    text-align: center;
}

